.vilagosOldal{
    background-color: white;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.sotetOldal{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
}
main{
    background-color: bisque;
    width: 70%;
    margin: auto;
    
}
body{
    background-color: aqua;
}
.tarolo {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* 8 oszlop */
    grid-template-rows: repeat(8, 50px); /* 8 sor */
    
}