body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tarolo {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.vilagosOldal, .sotetOldal {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vilagosOldal {
    background-color: white;
    border: 1px solid black;
}

.sotetOldal {
    background-color: black;
    border: 1px solid white;
}
